$base-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$code-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

$desktop-font-size: 1.2rem;

$white-color: #fff;
$text-color: #333;
$background-color: #6e7684;
$button-color: #38336d;
$button-active-color: #5128bf;

$transition: .15s ease-in-out;
